body {
  font-family: Arial;
  background: #f1f1f1;
}

.chat {
  width: 300px;
  margin: 50px auto;
}

#mesajlar {
  list-style: none;
  padding: 0;
  height: 200px;
  background: white;
  overflow-y: auto;
  margin-bottom: 10px;
}